Repository SKT-Shurima/chunjie: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: update icon
  index.html
  precache-manifest.b0f463376f6331a15b6d0692a98e953c.js
  service-worker.js
  static/js/3.3.6f19b4a2021_04_29_11_21_47.js.map
  static/js/3.3.6f19b4a2021_04_29_12_35_14.js
  static/js/3.3.6f19b4a2021_04_29_12_35_14.js.map
  static/js/4.4.9f9ae312021_04_29_11_21_47.js.map
  static/js/4.4.9f9ae312021_04_29_12_35_14.js
  static/js/4.4.9f9ae312021_04_29_12_35_14.js.map
  static/js/app.1.1a5d1572021_04_29_11_21_47.js.map
  static/js/app.1.1a5d1572021_04_29_12_35_14.js
  static/js/app.1.1a5d1572021_04_29_12_35_14.js.map
  static/js/manifest.1ebb3f72021_04_29_11_21_47.js
  static/js/manifest.1ebb3f72021_04_29_11_21_47.js.map
  static/js/manifest.4dfb80b2021_04_29_12_35_14.js
  static/js/manifest.4dfb80b2021_04_29_12_35_14.js.map
  static/js/vendor.0.a27b9e82021_04_29_11_21_47.js.map
  static/js/vendor.0.a27b9e82021_04_29_12_35_14.js
  static/js/vendor.0.a27b9e82021_04_29_12_35_14.js.LICENSE
  static/js/vendor.0.a27b9e82021_04_29_12_35_14.js.map
Due: prettier --write

feat: 添加icon
  favicon.ico
Due: none

fix: 调整打包配置
  build/tpl/index.ejs
  build/webpack.config.js
Due: none

feat: update icon
  index.html
  precache-manifest.c51cf454c4be888aa239f4ea91dbfa84.js
  service-worker.js
  static/js/3.3.6f19b4a2021_04_29_12_35_14.js.map
  static/js/3.3.6f19b4a2021_04_29_14_00_55.js
  static/js/3.3.6f19b4a2021_04_29_14_00_55.js.map
  static/js/4.4.9f9ae312021_04_29_12_35_14.js.map
  static/js/4.4.9f9ae312021_04_29_14_00_55.js
  static/js/4.4.9f9ae312021_04_29_14_00_55.js.map
  static/js/app.1.1a5d1572021_04_29_12_35_14.js.map
  static/js/app.1.1a5d1572021_04_29_14_00_55.js
  static/js/app.1.1a5d1572021_04_29_14_00_55.js.map
  static/js/manifest.4dfb80b2021_04_29_12_35_14.js
  static/js/manifest.4dfb80b2021_04_29_12_35_14.js.map
  static/js/manifest.d31a3c62021_04_29_14_00_55.js
  static/js/manifest.d31a3c62021_04_29_14_00_55.js.map
  static/js/vendor.0.a27b9e82021_04_29_12_35_14.js.map
  static/js/vendor.0.a27b9e82021_04_29_14_00_55.js
  static/js/vendor.0.a27b9e82021_04_29_14_00_55.js.LICENSE
  static/js/vendor.0.a27b9e82021_04_29_14_00_55.js.map
Due: prettier --write

fix: 添加数据标签
  build/tpl/index.ejs
  src/pages/HomePage/components/Waterfall/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: ((any of: src/**/*.{ts,tsx}) or (any of: *.{md,html,json})) or (any of: src/**/*.less)
  stylelint --fix: any of: src/**/*.less
